<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div style="text-align: center; padding: 40px;">
        <img src="image/logo.png"/>
        <br/>
        <h1>임시 비밀번호 발급</h1>
        <br/>
        <p style="font-size: 15px">임시 비밀번호가 발급되었어요. 아래의 비밀번호로 로그인 후 바로 비밀번호를 변경해주세요.</p>
        <br/>
        <div style="display: flex; justify-content: center">
            <div style="margin: 12px 0 12px 0; padding: 0; width: 400px; height: 80px; border: 1px solid #888; border-radius: 5px; display: flex; flex-direction: column; justify-content: center">
                <p th:text="${newPassword}" class="confirm_code" style="color: #aaa; text-align: center; margin: 0; font-size: 25px; font-weight: bold; letter-spacing: 2px">12345567</p>
            </div>
        </div>
        <br/>
        <div style="display: flex; justify-content: center">
            <div style="margin: 12px; padding: 0; width: 650px; height: 170px; border-radius: 5px; background-color: #f4f4f4; display: flex; flex-direction: column; justify-content: center; font-size: 13px">
                <p style="font-weight: bold; margin-bottom: 0;">주소</p>
                <p style="margin-top: 0; color: #666">서울특별시 강남구 테헤란로 311(역삼동) 아남타워빌딩 7층(06151)</p>
                <br/>
                <p style="font-weight: bold; margin-bottom: 0;">문의</p>
                <p style="margin-top: 0; color: #666">ki7348@naver.com</p>
                <br/>
                <p style="color: #aaa">Copyright 2022 Yeoreodigm all rights reserved.</p>
            </div>
        </div>
    </div>
</body>
</html>